[submodule "files/.config/nvim"]
	path = files/.config/nvim
	url = ssh://git@github.com/asampley/nvim-config
[submodule "files/.config/awesome"]
	path = files/.config/awesome
	url = ssh://git@github.com/asampley/awesomewm-config
